h1{
  font-weight: 800;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 6px;
}
.items-container{
  text-align: left;
}
.kg-row{
  margin: 20px;
}
.kg-button{
  min-width: 80px;
}